body{
    color: #333;
    font-size: 14px;
    background-color: #fff;
    letter-spacing: 1px;
}


.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

/*-------------- Slide on the side------------------*/

.slides-navigation{
    z-index: 6;
}
.slides-navigation  .prev,
.slides-navigation .next{
    width: 27px;
    height: 27px;
    background-size: cover;
    background-repeat: no-repeat;
}
.slides-navigation a.prev{
 left: 20px;
 background-image: url(../img/icons/prev.png);
}
.slides-navigation a.next{
 right: 20px;
 background-image: url(../img/icons/next.png);
}



.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;

}
.titleMessage .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main{
font-size: 50px;
}
.titleMessage .heading .sub{
font-size: 23px;
}

.section {
 padding: 100px 0;
}





.subHeading{
    color: black;
    text-align: center;
}
.getin h2{
color: black;
text-align: center;

}

.getin h3{
    color: black;
    text-align: center;
    margin: 0 0 0 85px;
}




#navigation {
background-color:#989599;
padding: 20px 10px;
z-index: 100;
width: 100;
}

#navigation li{
padding: 0 10px;
}

#navigation li a {
color: #fff;
}

.navbar-brand,
.navbar-brand:hover
{
color: #fff;}


.navbar-toggler icon{
    background: url(../img/icons/menu.png);
    background-size: 100%;
    color: black;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}


.loader {
    width: 100%;
    height: 100%;
    background-clip: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}
.loader .inner {
widows: 100%;
height: 100%;
background: url(../img/loader.gif) center center no-repeat;
}

.message {
    border:2px solid #777;


}
.hr{
	border-top: 2px solid #8c8b8b;
}

